@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --transition: all 300ms ease-in-out;
    --darkcolor: #332e29;
    --lightcolor: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

a {
    text-decoration: none;
    color: var(--darkcolor);
}

.vh-100 {
    min-height: 100vh;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h3 {
    margin-bottom: 2rem;
}

.py-7 {
    padding: 7rem 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

img {
    width: 100%;
    display: block;
}

.lead {
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}


/* header */
#header {
    background: url("../images/header-banner.jpg") center/cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}

#header .container {
    width: 100%;
}

.header-content {
    padding-bottom: 4rem;
}

.header-content h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--lightcolor);
}

.header-content h3 {
    color: var(--lightcolor);
    margin-top: 1.5rem;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.social-media {
    display: flex;
    margin-top: 3.5rem;
}

.social-media li a {
    width: 40px;
    height: 40px;
    background-color: var(--lightcolor);
    margin-right: 1rem;
    border-radius: .3rem;
    transition: var(--transition);
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
}

.social-media li a:hover {
    opacity: 0.9;
}

/* about section design */
.about-left {
    height: 480px;
    margin-bottom: 4rem;
    overflow: hidden;
    border-radius: 15px;
}

.btn-down {
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}

.btn-down:hover {
    opacity: 0.8;
    transform: translateY(5px);
}

.title {
    margin-bottom: 5rem;
}

.title h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}

.title h2::after {
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--darkcolor);
}